@import "tailwindcss";
@import "@heroui/styles";

/* Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #aaff00;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #88cc00;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #aaff00 transparent;
}
